In [2]:
import pandas as pd
df1=pd.read_csv("D:\\Data_Analysis_04-06PM\\Fortune_10.csv")
df1

,ID,Date,Name,Companies,Inception,Revenue,Expences,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,No,Stripfind,Financial Services,2010,"$22,757,028","6,482,465 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$33,757,038","6,482,465 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$44,757,048","6,482,465 Dollars",652482,26%
4,5,Yes,Techdrill,Health,2009,"$55,757,058","6,482,465 Dollars",6516491,8%
5,6,No,Techline,Health,2006,"$66,757,068","6,482,465 Dollars",16498433,23%
6,7,No,Cityace,Health,2010,"$77,757,078","6,482,465 Dollars",65449161,6%
7,8,Yes,Kayelectronics,Health,2009,"$88,757,088","6,482,465 Dollars",1616496,4%
8,9,Yes,Ganzlax,IT Services,2011,"$99,757,098","6,482,465 Dollars",13164,18%
9,10,Yes,Trantraxlax,Government Service,2011,"$1010,757,0108","6,482,465 Dollars",164684,7%

In [3]:
# how to use head() function in pandas

df1.head()

,ID,Date,Name,Companies,Inception,Revenue,Expences,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,No,Stripfind,Financial Services,2010,"$22,757,028","6,482,465 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$33,757,038","6,482,465 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$44,757,048","6,482,465 Dollars",652482,26%
4,5,Yes,Techdrill,Health,2009,"$55,757,058","6,482,465 Dollars",6516491,8%

In [4]:
df1.tail()

,ID,Date,Name,Companies,Inception,Revenue,Expences,Profit,Growth
5,6,No,Techline,Health,2006,"$66,757,068","6,482,465 Dollars",16498433,23%
6,7,No,Cityace,Health,2010,"$77,757,078","6,482,465 Dollars",65449161,6%
7,8,Yes,Kayelectronics,Health,2009,"$88,757,088","6,482,465 Dollars",1616496,4%
8,9,Yes,Ganzlax,IT Services,2011,"$99,757,098","6,482,465 Dollars",13164,18%
9,10,Yes,Trantraxlax,Government Service,2011,"$1010,757,0108","6,482,465 Dollars",164684,7%

In [6]:
df1.head(8)

,ID,Date,Name,Companies,Inception,Revenue,Expences,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,No,Stripfind,Financial Services,2010,"$22,757,028","6,482,465 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$33,757,038","6,482,465 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$44,757,048","6,482,465 Dollars",652482,26%
4,5,Yes,Techdrill,Health,2009,"$55,757,058","6,482,465 Dollars",6516491,8%
5,6,No,Techline,Health,2006,"$66,757,068","6,482,465 Dollars",16498433,23%
6,7,No,Cityace,Health,2010,"$77,757,078","6,482,465 Dollars",65449161,6%
7,8,Yes,Kayelectronics,Health,2009,"$88,757,088","6,482,465 Dollars",1616496,4%

In [8]:
df1.tail(2)

,ID,Date,Name,Companies,Inception,Revenue,Expences,Profit,Growth
8,9,Yes,Ganzlax,IT Services,2011,"$99,757,098","6,482,465 Dollars",13164,18%
9,10,Yes,Trantraxlax,Government Service,2011,"$1010,757,0108","6,482,465 Dollars",164684,7%

In [13]:
# How to change dtype of any columns.

df1=pd.read_csv("D:\\Data_Analysis_04-06PM\\Fortune_10.csv",dtype={"ID":"float64"})
df1

,ID,Date,Name,Companies,Inception,Revenue,Expences,Profit,Growth
0,1.0,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,No,Stripfind,Financial Services,2010,"$22,757,028","6,482,465 Dollars",11412916,20%
2,3.0,No,Canecorporation,Health,2012,"$33,757,038","6,482,465 Dollars",3005820,7%
3,4.0,Yes,Mattouch,IT Services,2013,"$44,757,048","6,482,465 Dollars",652482,26%
4,5.0,Yes,Techdrill,Health,2009,"$55,757,058","6,482,465 Dollars",6516491,8%
5,6.0,No,Techline,Health,2006,"$66,757,068","6,482,465 Dollars",16498433,23%
6,7.0,No,Cityace,Health,2010,"$77,757,078","6,482,465 Dollars",65449161,6%
7,8.0,Yes,Kayelectronics,Health,2009,"$88,757,088","6,482,465 Dollars",1616496,4%
8,9.0,Yes,Ganzlax,IT Services,2011,"$99,757,098","6,482,465 Dollars",13164,18%
9,10.0,Yes,Trantraxlax,Government Service,2011,"$1010,757,0108","6,482,465 Dollars",164684,7%

In [14]:
df1=pd.read_csv("D:\\Data_Analysis_04-06PM\\Fortune_10.csv",dtype={"Inception":"float64"})
df1

,ID,Date,Name,Companies,Inception,Revenue,Expences,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,No,Stripfind,Financial Services,2010.0,"$22,757,028","6,482,465 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012.0,"$33,757,038","6,482,465 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013.0,"$44,757,048","6,482,465 Dollars",652482,26%
4,5,Yes,Techdrill,Health,2009.0,"$55,757,058","6,482,465 Dollars",6516491,8%
5,6,No,Techline,Health,2006.0,"$66,757,068","6,482,465 Dollars",16498433,23%
6,7,No,Cityace,Health,2010.0,"$77,757,078","6,482,465 Dollars",65449161,6%
7,8,Yes,Kayelectronics,Health,2009.0,"$88,757,088","6,482,465 Dollars",1616496,4%
8,9,Yes,Ganzlax,IT Services,2011.0,"$99,757,098","6,482,465 Dollars",13164,18%
9,10,Yes,Trantraxlax,Government Service,2011.0,"$1010,757,0108","6,482,465 Dollars",164684,7%

In [16]:
df1=pd.read_csv("D:\\Data_Analysis_04-06PM\\Fortune_10.csv",dtype={"Profit":"float64"})
df1

,ID,Date,Name,Companies,Inception,Revenue,Expences,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2,No,Stripfind,Financial Services,2010,"$22,757,028","6,482,465 Dollars",11412916.0,20%
2,3,No,Canecorporation,Health,2012,"$33,757,038","6,482,465 Dollars",3005820.0,7%
3,4,Yes,Mattouch,IT Services,2013,"$44,757,048","6,482,465 Dollars",652482.0,26%
4,5,Yes,Techdrill,Health,2009,"$55,757,058","6,482,465 Dollars",6516491.0,8%
5,6,No,Techline,Health,2006,"$66,757,068","6,482,465 Dollars",16498433.0,23%
6,7,No,Cityace,Health,2010,"$77,757,078","6,482,465 Dollars",65449161.0,6%
7,8,Yes,Kayelectronics,Health,2009,"$88,757,088","6,482,465 Dollars",1616496.0,4%
8,9,Yes,Ganzlax,IT Services,2011,"$99,757,098","6,482,465 Dollars",13164.0,18%
9,10,Yes,Trantraxlax,Government Service,2011,"$1010,757,0108","6,482,465 Dollars",164684.0,7%